<div class="container" id="navbar">
  <div class="container d-flex flex-row justify-content-end">
<!--
    <div class="logo">
      <img src="../../images/inker-logo.png" alt="Inker Tattoo">
    </div> -->

    <div class="navbar-container">
      <p><%= link_to "Home", root_path %></p>
    </div>

    <div class="navbar-container">
      <p><%= link_to "Estilos de Tatuagem", root_path %></p>
    </div>

    <div class="navbar-container">
      <p><%= link_to "Blog", root_path %></p>
    </div>

    <div class="navbar-container">
      <p><%= link_to "Cadastre-se", new_user_registration_path %></p>
    </div>
  </div>
</div>
