 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-teste">
          <h5><%= link_to "Inker", tattoo_artists_path %></h5>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="ml-auto flex">
              <form class="form-inline my-2 my-lg-0">
                 <a class="btn btn-outline-primary my-2 my-sm-0 ml-2" href="/users/sign_in">Login</a>
              </form>

            </div>
          </div>
        </nav>
