<header>
  <div class="overlay"></div>
    <video src="/videos/tattoomotion.mp4" autoplay loop muted class="centered-image"></video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Sua tattoo já está agendada ;)</h1>
        <p class="lead mb-0">
          <em>get ready to get inked!</em>
        </p>
      </div>
    </div>
  </div>
</header>

<body>

  <section class="my-5">
    <div class="container">
      <div class="column">
        <p id="tk-p">Inker Tattoo all rights reserved ;).</p>
        <img id="tattoo-machine" src="/icons/tattoo_machine.png" class="center pt-2"></img>
      </div>
    </div>
  </section>

</body>
