<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-6 center">
      <br>
      <%= simple_form_for tattoo_request, url: tattoo_artist_tattoo_requests_path(tattoo_artist), method: :post do |f| %>
        <div class="md-form mb-3">
          <label data-error="wrong" data-success="right" for="Form-email1">Nos conte sobre sua idéia:</label>
            <textarea name="tattoo_request[description]" class="form-control" placeholder="I would love to do a buterfly in my back" aria-label="Username" aria-describedby="basic-addon1" style="padding-bottom: 4.5rem;"></textarea>
        </div>
        <div class="md-form pb-3">
          <label data-error="wrong" data-success="right" for="Form-pass1">Qual estilo você mais gostou:</label>
            <select name="tattoo_request[specialty_id]" class="form-control" placeholder="Specialty" aria-label="Username" aria-describedby="basic-addon1">
              <% specialties.each do |specialty| %>
                <option value="<%= specialty.id %>"><%= specialty.name %></option>
              <% end %>
            </select>
        </div>
        <div class="md-form pb-3">
          <label data-error="wrong" data-success="right" for="Form-pass1">Qual parte do corpo quer fazer?</label>
          <input name="tattoo_request[bodypart]" type="text" class="form-control" placeholder="Sholder" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="md-form pb-2">
          <label data-error="wrong" data-success="right" for="Form-pass1">(opcional) Tem imagens exemplos do que imaginou? Coloque aqui:</label>
            <input name="tattoo_request[references_photos]" type="file" class="form-control" placeholder="photos" aria-label="Username" aria-describedby="basic-addon1" style="padding-bottom: 2rem;">
        </div>
          <br>
          <input type="submit" value="Agende agora sua tattoo!" class="btn btn-gradient center" style="width: 60%">

      <% end %>
      <br><br><br><br>
    </div>
  </div>
</div>
