
  <h1>All Tattoo Requests:</h1>


        <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <h1><%= 'Todas as Requisições de tatuagens'%> (<%= TattooRequest.count %>)</h1>
        </div>
      </div>

            <div class="row">
        <div class="col">
            <p>All Requests.</p>
        </div>
      </div>




  <div class="flexbox">

      <div class="row">

<% @tattoo_requests.each do |t|  %>
          <div class="col-6">
  <div class="card-product flat-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= t.bodypart %></h2>
    <p>Tatto description: <strong><%= t.description %></strong></p>
  </div>
</div>
</div>


<% end %>


