// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar-container {
  padding: 10px;
  margin: 0px;
}

#navbar {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin: 0px;
}
